<!DOCTYPE html>
<html>
  <head>
    <title>Caner Film</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/scroll-bar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
 </head>
  <body>
    <%- include('../views/partials/navbar') %>
    <%- include('../views/partials/categories') %>
    <%- include('../views/partials/favorite') %>
    <%- include('../views/partials/last') %>
    <%- include('../views/partials/footer') %>
    <script src='/javascripts/check-cookies.js'></script>


  </body>
</html>
