<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/scroll-bar.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dark-most-view-movies.css"  id="dark-theme-style" class="dark-theme-style">
    <link rel="stylesheet" type="text/css" href="/stylesheets/light-most-view-movies.css"  id="light-theme-style" class="light-theme-style">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>Caner Film</title>
</head>

<body>
    <%- include('../views/partials/navbar') %>
    <%- include('../views/partials/categories') %>
    <%- include('../views/partials/favorite') %>
    <div class="movie-container">
        <div class="left-container">
            <div class="most-view-movies-container">
                <b class="most-view-movies-title"> <i class="bi bi-view-list"></i></i> En Çok İzlenen Filmler</b>
                <div class="movies-container" id="movies-container"></div>
                <div class="pagination" id="pagination"></div>
            </div>
        </div>
        <%- include('../views/partials/filter-year-genre') %>

    </div>
    <%- include('../views/partials/footer') %>
    <script src='/javascripts/most-view-movies.js'></script>


</body>

</html>