<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/scroll-bar.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/dark-movie-detail.css"  id="dark-theme-style" class="dark-theme-style">
    <link rel="stylesheet" type="text/css" href="/stylesheets/light-movie-detail.css"  id="light-theme-style" class="light-theme-style">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <title>Caner Film</title>
</head>

<body>
    <%- include('../views/partials/navbar') %>
    <%- include('../views/partials/categories') %>
    <div class="movie-container" id="movie-container">
        <div class="left-container">
            <div class="movie-detail-container" id="movie-detail-container">
                <b class="movie-detail-title"><i class="bi bi-camera-reels-fill"></i> <%= movie.MovieName %></b>
                <div class="movie-video-whole">             
                    <%- include('../views/partials/movie-detail-button') %>
                    <%- include('../views/partials/movie-detail-video-container') %>
                </div>
                <%- include('../views/partials/movie-detail-information') %>
                <%- include('../views/partials/movie-detail-recommend') %>
                <%- include('../views/partials/movie-detail-comment') %>
            </div>
        </div>
        <%- include('../views/partials/filter-year-genre') %>
    </div>
    <%- include('../views/partials/footer') %>


</body>
</html>